body {
    text-align: center;
    margin:0px auto;
}

div#preimage1 {
    background: url(images/Keep-calm-and-carry-on-scan.jpg) no-repeat -9999px -9999px;
}

div#preimage2 {
    background: url(images/neutral-indeed-small.png) no-repeat -9999px -9999px;
}

#title{
    color: #BE81F7;
    font-weight: bold;
    font-size: 6em;
}

.description {
    color: #BE81F7;
    font-weight: bold;
    font-size: 1.5em;
}

.option > * {
    font-size: 1.5em;
    color: #6E6E6E;
}

.option > button {
    background: #A9F5BC;
}

.option > * * {
    font-size: 1em;
    color: #6E6E6E;
}

#stage {
    font-size: 1.55em;
    color: #58ACFA;
}

body {
    background: pink;
}

.bulb{
    width: 6.25em;
    height: 6.25em;
}

.on_bulb {
}

.off_bulb {
}

.credit {
    color: white;
    font-size: 1em;
}
